@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  width: 100%;
  height: 100%;
  background: var(--neutral-gray-gray-25, #f9f9fc);
  font-family: var(--font-public-sans);
  margin: 0;
}
